{
    "env": {
        "commonjs": true,
        "es6": true,
        "node": true,
        "browser": false
    },
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    }
}
